{% extends 'uploader/main.html' %}
{% block title %} <title>Password Confirm</title> {% endblock title %}

{% block main %}

   <div class="mx-auto mt-5 p-3 shadow" style='width:500px'>
     <form action="" method="POST">
        {% csrf_token %}
        <div class="row gy-3">
            {% for fields in form %}
               <div class="col-12">
                  {{fields}}
               </div>
            {% endfor %}
        </div>
        <div class="mt-4">
         <input type="submit" value="Reset" class='btn btn-secondary'>
        </div>
    </form>
    <hr>
    <a href="{% url 'home' %}" class='btn btn-link'>Back</a>
   </div>

{% endblock main %}