{% extends 'uploader/main.html' %}
{% block title %} <title>Password Change</title> {% endblock title %}

{% block main %}
      <div class="mx-auto shadow mt-5 p-3" style='width:500px'>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row gy-4">
                {% for fields in form %}
                    <div class="col-12">
                        {{fields}}
                    </div>
                {% endfor %}
            </div>
            <div class="mt-3">
                <input type="submit" value="Password Change" class="btn btn-secondary">
            </div>
        </form>
        <hr>
        <a href="{% url 'home' %}" class='btn btn-link'>Back</a>
    </div>
{% endblock main %}